{% extends "base.html" %}

{% block content %}
    <div style="position: relative; width: fit-content; height: fit-content; float: right" class="navbar" >
      <a href="{{url}}/_adduser">Add User</a>
    </div>
    <div style="top: 15px" class="tablediv"> 
      <table>
        <tr>
          <th>UserName</th>
          <th>Email</th>
          <th>Roles</th>
        </tr>
          {% for u in User.query.all() %}
        <tr>
          <td>{{ u.username }}</td>
          <td>{{ u.email }}</td>
          <td>{{ list_rules(u.email) }}</td>
        </tr>
          {% endfor %}
      </table>
    </div>

    <div style="margin-left: -16px" class="navbar" >
    {#<div style="width: fit-content; margin-left: -16px" class="navbar" > #}
      {% for i in fbase %}
      {% set i = i|replace('.html','') %}
      {% set a = i|replace('_',' ') %}
      <a style="float: left" href="{{url}}/admin/{{ i }}">{{ a[0]|upper }}{{ a[1:] }}</a>
      {% endfor %}
    </div>
{% endblock %}
