{% extends "base.html" %}
{% block content %}
  <div style="position: relative; width: fit-content; height: fit-content; float: right" class="navbar" >
    <a href="{{url}}/add_user_class">Add User to Class</a>
  </div>
  <div style="margin-top: 56px; margin-left: 40"> 
    <h2> The Class - "{{ get_classe_name(class_id) }}"</h2>
  </div>

  <div style="top: 15px" class="tablediv"> 
    <table>
      <tr>
        <th>Students</th>
      </tr>
        {#% for r in Role.query.all() %}
      <tr>
        <td>{{ r.name }}</td>
        <td>{{ r.type }}</td>
      </tr>
        {% endfor %#}
    </table>
  </div>

  <div style="margin-left: -16px" class="navbar" >
    {% for i in fbase %}
    {% set i = i|replace('.html','') %}
    {% set a = i|replace('_',' ') %}
    <a style="float: left" href="{{url}}/tutor/{{ i }}">{{ a[0]|upper }}{{ a[1:] }}</a>
    {% endfor %}
  </div>
{% endblock %}
